@{
    ViewData["Title"] = "Sobre";
}
<h1>@ViewData["Title"]</h1>


<div class="row col-lg-12 col-md-12 col-sm-12 col-sm-12">
    <div class="panel panelClose panelRefresh">
        <div class="panel-heading">
            <h4 class="panel-title">Quem somos</h4>
        </div>
        <div class="panel-body">
            <h3>Sobre a gente:</h3>
            <p>
                é simplesmente um texto fictício da indústria de impressão e composição.
                Lorem Ipsum tem sido o texto fictício padrão da indústria desde os anos 1500,
                quando um impressor desconhecido pegou uma galé do tipo e embaralhou para fazer um
                livro de amostra de tipos.
            </p>
        </div>
    </div>
</div>
